

.stepper{
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.stepper-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 80px 0px;
}

.stepper-steps{
    border-radius: 50%;
    color: white;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}